.skills {
    padding-top: 100px;
    &__items {
        padding: 0 11px 0 10px;
        margin-top: 60px;
        display: grid;
        justify-content: center;
        grid-template:minmax(100px, auto) / repeat(auto-fit, 270px);
        grid-auto-rows: minmax(100px, auto);
        gap: 13px;               
    }
    &__item {
        padding: 30px 30px 25px 30px;
        border: 1px solid #000000;
        &-icon {
           display: flex;
           align-items: center;
           min-height: 65px;
        }
        &-title {
            margin-top: 20px;
        }
        &-text {
            margin-top: 15px;
            font-weight: 500;
        }

    }
}